
@media screen and (min-width: 768px){
:root{
--margin-dktp:2rem;

}
.nav-header {
height:4.3rem;
}
.nav-header nav .logo{
width:200px;
margin-left:2rem;
}
.nav-header nav .lists{
visibility:visible;
position:static;
height:auto;
width:auto;
flex-direction:row;
background:black;
flex:1;
background:transparent;
color:white;

transform:translateX(0%);
}
.nav-header nav .lists li{
font-size:1.5rem;
}
.nav-header nav .lists li a{
color:white;
}

.nav-header .hamburger {
display:none;
}

/*  HERO  */
.hero{
margin-left:var(--margin-dktp);
}

/*INFORMATION*/

.info{
margin:3rem var(--margin-dktp) 0 var(--margin-dktp);
}
.info .content {
font-size:0.9rem;
text-align:center;
}
.info .content {
margin-top:2rem;

}
.info .content .first-content ,
.info .content .second-content {
padding:1rem;
}
.info .content .second-content {
margin-top:0;
}

/* SERVICES */
.services {

}
.services .service {
display:flex;
width:90%;

}
.services  .service .content {
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:flex-start;
font-size:1rem;


}
.services .first-service{
margin-top:8rem;
}
.services .service+.service {
margin-top:8rem;
}
.services .service .img-container {

}
.services .service .img-container img{

}
.services .service img:hover {
transform:scale(1.1);
}


.services .service:nth-of-type(odd) .img-container {
margin-left:0;
}
.services .service:nth-of-type(even) .content  {
margin-left:0;
}

/* ORDERING ALTERNATIVE*/
.services .service:nth-of-type(odd) {
margin-left:auto;
}
.services .service:nth-of-type(odd) .img-container {
order:2;
}

/*  SPECIAL OFFERS */

.special-offers {
margin:5rem var(--margin-dktp);
display:flex;
flex-direction:row;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}
.special-offers .special-offer{
margin-top:2rem;
}

/*  FOOTER  */

footer .sign-up-container {
margin:var(--margin-dktp);
}
footer .sign-up-container .title{
padding:2rem 0;

}

/*  CONNECT  */

footer .connect {
margin:0 var(--margin-dktp);
padding-top:1rem;
padding-bottom:2rem;
}
footer .connect .social-media-icons{
width:20%;
margin-top:1rem;
}
footer .connect i{
padding:0.5rem;
}

}

@media screen and (min-width: 1000px){

.info{

}
.info .content {
display:flex;
justify-content:space-around;

}
}

@media screen and (min-width: 992px){
.services .service .content{
 margin-left:auto;
 margin-right:auto;
 max-width:500px;
}


}
