*{
margin:0;
padding:0;
}
:root{ 
--light-blue:#3e79c2;
--dark-blue:#2a5485;
--margin:0.8rem;
--title-color:#d4ffff;
--purple:#8283fa;
--dark-purple:#9266ff;
--light-blue-2:#afddf7;
--service-bg:#9da6ff;
--ul-color:#8ee2ff;
--footer-blue:#6699cc;
--nav-list-bg: #2c2233;
--nav-list-col:#a5c0ff;
}
@font-face {
  font-family:Montserrat;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family:Open-Sans;
  src: url(OpenSans-Regular.ttf);
}
@font-face {
  font-family:Poppins;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family:Redressed;
  src: url(Redressed-Regular.ttf);
}

/*START*/

body{
background:var(--dark-blue);
font-family:Poppins;
color:white;

}
.flex{
display:flex;
}
.column{
display:flex;
}
img{
width:300px;
}


.home{
background-image:url(hotel.webp);
background-size:cover;
background-position:20%;
background-attachment:fixed;
height:100vh;
min-height:400px;
align-items:center;
position:relative;

overflow:hidden;
}
.nav-header{
position:fixed;
top:0;
left:0;
width:100%;
height:3.5rem;
z-index:10;
}

/* NAV */

.nav-header nav{
background:var(--light-blue);
height:100%;
justify-content:space-between;
align-items:center;
position:relative;
}
.nav-header nav .logo{
width:100px;
margin-left:0.5rem;
}

/*  LISTS  */

.nav-header nav .lists{
position:absolute;
top:0%;
right:0;
width:80%;
height:100vh;
background:var(--nav-list-bg);
flex-direction:column;
justify-content:space-around;
align-items:center;

transition:0.5s ease-in-out;
}
.in-active{
transform:translateX(100%);
}
.active-nav{
transform:translateX(0);

}

.nav-header nav .lists li{
list-style:none;
font-size:1.6rem;
}
.nav-header nav .lists li a{

text-decoration:none;
color:var(--nav-list-col);
}
.nav-header nav .lists li a:active {
background:#49498a;
}


/*HAMBURGER MENU*/
.hamburger {
width: 3.6rem;
height: 1.8rem;
position: relative;
cursor: pointer;
line-height: 5rem;
z-index: 5;
transform:scale(0.7);

}

.hamburger .line {
width: 100%;
height: 2px;
background-color:#7eb1ab;
position: absolute;
display: block;
right: 0;
transition: all 650ms;
}

.hamburger .line:nth-child(1) {
top: 0;
}

.hamburger .line:nth-child(2) {
top: 50%;
margin-top: -1px;
width: 2.8rem;

}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}

.insta{
background:linear-gradient(#be6bc1,#e31063, #fc6600, #f4bf65);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

/* HERO */
.hero{
margin-left:var(--margin);
}

.hero .title{
font-family:Montserrat;
color:var(--title-color); 

transition:0.2s;
}
.hero .title-main{
font-size:2rem;
}

.hero .title-top{
margin-bottom:1.8rem;
font-size:0.8rem;
}
.hero .title-bottom{
margin-top:1.8rem;
font-size:0.8rem;
}

/*BOOK NOW BALL*/

.book-now {
position:fixed;
right:0;
top:30%;
transition:1s ease-out;
justify-content:center;
align-items:center;
flex-direction:column;
height:3.5rem;
width:3.5rem;
background:var(--dark-blue);
border-radius:50%;
font-size:0.8rem;
text-transform:capitalize;
margin-right:0.5rem;

z-index:9;
}
.book{
margin-top:0.2rem;
}

.overlay {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:#f0f8ff;
z-index:25;
}

/* FOR SKEWING */

#contents {
transition:0.3s;

}
/*INFORMATION*/

.info{
margin:1.7rem var(--margin) 0 var(--margin);
overflow:hidden;
}

.info .title {
color:var(--light-blue-2);
padding:0.7rem 0;
text-align:center;
position:relative;
font-family:Redressed;
font-size:1.4rem;


}
.underline{
position:absolute;
height:1.5px;
width:80%;
left:50%;
bottom:0;
transform:translateX(-50%);
background:var(--ul-color);
}

.info .content {
font-size:0.9rem;
letter-spacing:0.5px;
margin-top:1.4rem;
color:#8ee2ff;
}
.info .content .second-content {
margin-top:0.5rem;

}

/*  SERVICES  */

.services {
margin-top:2rem;
z-index:1;
overflow:hidden;
}
.services .service-header {
color:var(--light-blue-2);
padding:0.7rem 0;
text-align:center;
position:relative;
font-family:Redressed;
font-size:1.5rem;
margin-bottom:3rem;
}
.services .service-header .underline{
width:50%;

}
/*SERVICE SINGLE*/
.services .service+.service {
margin-top:3rem;
}
.services .service .img-container {
width:90%;

}
.services .service:nth-of-type(odd) .img-container {
margin-left:auto;
}
.services .service:nth-of-type(even) .content  {
margin-left:auto;
}

/*SERVICE IMG*/

.services .service .img-container {

overflow:hidden;

}
.services .service .img-container img{
width:100%;
height:100%;
transition:0.7s;
transform:translateY(5%);
}
.services .service img:hover {
transform:translateY(5%) scale(1.1);
}

/* CONTENT */

.services .service .content {
width:90%;
background:var(--service-bg);
padding:1rem 0;
}
.services .service .content .title{
color:var(--dark-blue);
font-family:Poppins;
margin:var(--margin);
position:relative;
margin-bottom:0.5rem;
font-size:1.1rem;
}
.services .service .content .title span{
position:relative;
}
.services .service .content .title span::before{
content:"";
position:absolute;
bottom:-4px;
left:50%;
transform:translateX(-50%);
height:1.4px;
width:80%;
background:#8ee2ff;

}

.services .service .content .service-info {
font-size:0.9rem;
color:#5c4ab3;
margin:0.5rem 0;
margin:var(--margin);
}

/* SERVICE  BUTTON  */

.services .service .content button {
margin:var(--margin);
border:0;
outline:none;
background:#b196ff;

color:#5c4ab3;
padding:0.5rem 1rem;
transition:0.3s;
z-index:1;
position:relative;
overflow:hidden;
}
.services .service .content button::before {
content:"";
position:absolute;
bottom:50%;
left:80%;
height:100%;
width:100%;
background:var(--dark-blue);
height:3rem;
width:3rem;
border-radius:50%;
 z-index:-1;
transition:0.3s;
transform-origin:right;
 }

.services .service .content button:hover::before {
transform:scale(2.7);
}
.services .service .content button:hover{
color:var(--ul-color);
}

/*SPECIAL OFFERS*/


.special-offers {

margin:3rem 0.5rem;
display:flex;
flex-direction:column;
align-items:center;
}
.special-offers .special-offer{
margin-top:2rem;
}

.special-offers .special-offer .img-container {
width:250px;
overflow:hidden;
}
.special-offers .special-offer .offer-text {
font-family:Poppins;
color:var(--light-blue-2);
margin:0.3rem 0;
}
.special-offers .special-offer .icon{
width:1rem;
height:1rem;
color:var(--service-bg);
border-radius:50%;
padding:0.2rem;
border:0.5px solid var(--service-bg);
}

/*  FOOTER  */

footer{
background:var(--footer-blue)
}

/*  SIGN UP  */
footer .sign-up-container {
margin:0.5rem var(--margin);
}
footer .sign-up-container .title{
padding:0.5rem 0;
color:var(--dark-blue);
}
footer .sign-up-container .input-container {
margin:0.5rem 0;
position:relative;
width:200px;

border-bottom:1px solid white;
}
footer .sign-up-container .input-container input{
border:0;
outline:0;
height:0.8rem;
width:80%;
background:transparent;
padding:0.5rem;
font-family:Poppins;
color:black;
}
footer .sign-up-container .input-container .icon {
 position:absolute;
 right:8px;
 top:50%;
 transform:translateY(-50%);
}
footer .sign-up-container .policy {
font-size:0.8rem;
color:var(--dark-blue);
}
footer .sign-up-container .policy span{
color:#fdee00;
}

/*  CONNECT WITH US  */

footer .connect {
margin:0 var(--margin);
padding-top:1rem;
padding-bottom:0.7rem;
}
footer .connect h5{
color:var(--dark-blue);
margin:0.3rem 0;
font-family:Poppins;
text-transform:capitalize;
}
footer .connect .social-media-icons{
width:40%;
display:flex;
justify-content:space-between;
}
footer .connect i{
color:#272b2e;
}

/* CUSTOM AOS*/
[data-aos="underline-aos"] {
  width:0;
  transition-property: width;
}

[data-aos="underline-aos"].aos-animate {
  width:80%;
}

/* OVERLAY HOME*/

[data-aos="overlay-aos"] {
  transform:scaleX(1);
  transition-property: transform;
  transform-origin:right;
}

[data-aos="overlay-aos"].aos-animate {
  transform:scaleX(0);
}

/*BOOK NOW*/

[data-aos="img-aos"] {
  transform:translateY(40%) scale(1.2);
  opacity:0;
  transition-property: transform, opacity;
}

[data-aos="img-aos"].aos-animate {
  transform:translateY(-10%) scale(1);
  opacity:1;
}